## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Deliverable_Data/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.22,71,87,9.57,light rain
1,1,Lensk,RU,60.7253,114.9278,8.58,93,99,5.99,overcast clouds
2,2,Rosetta,EG,31.4044,30.4164,57.02,63,79,25.34,broken clouds
3,3,Jamestown,US,42.0970,-79.2353,21.09,62,100,5.01,mist
4,4,Vallenar,CL,-28.5708,-70.7581,84.92,18,0,10.22,clear sky
5,5,Vaini,TO,-21.2000,-175.2000,79.68,84,100,20.71,light rain
6,6,Faanui,PF,-16.4833,-151.7500,80.44,73,19,14.70,few clouds
7,7,Brae,GB,60.3964,-1.3530,37.31,62,100,34.45,overcast clouds
8,8,Urumqi,CN,43.8010,87.6005,-1.25,85,75,2.24,fog
9,9,Hilo,US,19.7297,-155.0900,68.11,74,40,9.22,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 3
What is the maximum temperature you would like for your trip? 33

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & 
                                       (city_data_df["Max Temp"]>min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lensk,RU,60.7253,114.9278,8.58,93,99,5.99,overcast clouds
3,3,Jamestown,US,42.0970,-79.2353,21.09,62,100,5.01,mist
10,10,Poronaysk,RU,49.2167,143.1167,8.06,85,100,7.23,overcast clouds
26,26,Novobelokatay,RU,55.7062,58.9549,23.32,95,100,3.91,overcast clouds
32,32,Hasaki,JP,35.7333,140.8333,28.80,77,99,8.70,overcast clouds
34,34,Goderich,CA,43.7501,-81.7165,14.92,81,85,10.76,overcast clouds
35,35,Usvyaty,RU,55.7456,30.7533,4.10,100,69,3.71,broken clouds
37,37,Albany,US,42.6001,-73.9662,27.68,86,100,1.99,overcast clouds
44,44,Kurilsk,RU,45.2333,147.8833,22.98,80,100,10.98,light snow
52,52,Satis,RU,54.9229,43.2298,21.58,94,100,14.45,light snow

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                124
City                   124
Country                124
Lat                    124
Lng                    124
Max Temp               124
Humidity               124
Cloudiness             124
Wind Speed             124
Current Description    124
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Lensk,RU,60.7253,114.9278,8.58,93,99,5.99,overcast clouds
3,3,Jamestown,US,42.0970,-79.2353,21.09,62,100,5.01,mist
10,10,Poronaysk,RU,49.2167,143.1167,8.06,85,100,7.23,overcast clouds
26,26,Novobelokatay,RU,55.7062,58.9549,23.32,95,100,3.91,overcast clouds
32,32,Hasaki,JP,35.7333,140.8333,28.80,77,99,8.70,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,Hachinohe,JP,40.5000,141.5000,23.83,76,56,11.72,broken clouds
670,670,Lyubim,RU,58.3625,40.6843,6.31,99,82,4.00,light snow
673,673,Petukhovo,RU,55.0692,67.9019,20.35,81,100,12.03,overcast clouds
676,676,Grafton,US,42.2070,-71.6856,32.95,93,100,10.36,light rain
677,677,Sobolevo,RU,54.4299,31.8996,3.38,100,72,2.82,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lensk,RU,8.58,overcast clouds,60.7253,114.9278,
3,Jamestown,US,21.09,mist,42.0970,-79.2353,
10,Poronaysk,RU,8.06,overcast clouds,49.2167,143.1167,
26,Novobelokatay,RU,23.32,overcast clouds,55.7062,58.9549,
32,Hasaki,JP,28.80,overcast clouds,35.7333,140.8333,
34,Goderich,CA,14.92,overcast clouds,43.7501,-81.7165,
35,Usvyaty,RU,4.10,broken clouds,55.7456,30.7533,
37,Albany,US,27.68,overcast clouds,42.6001,-73.9662,
44,Kurilsk,RU,22.98,light snow,45.2333,147.8833,
52,Satis,RU,21.58,light snow,54.9229,43.2298,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lensk,RU,8.58,overcast clouds,60.7253,114.9278,ТинОрС
3,Jamestown,US,21.09,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Poronaysk,RU,8.06,overcast clouds,49.2167,143.1167,Avtovokzal Khostel Stolovaya
26,Novobelokatay,RU,23.32,overcast clouds,55.7062,58.9549,"Gostinitsa ""Tsentral'naya"""
32,Hasaki,JP,28.80,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Lensk,RU,8.58,overcast clouds,60.7253,114.9278,ТинОрС
3,Jamestown,US,21.09,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Poronaysk,RU,8.06,overcast clouds,49.2167,143.1167,Avtovokzal Khostel Stolovaya
26,Novobelokatay,RU,23.32,overcast clouds,55.7062,58.9549,"Gostinitsa ""Tsentral'naya"""
32,Hasaki,JP,28.80,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
34,Goderich,CA,14.92,overcast clouds,43.7501,-81.7165,Harmony Inn
35,Usvyaty,RU,4.10,broken clouds,55.7456,30.7533,Gostinitsa Usvyacha
37,Albany,US,27.68,overcast clouds,42.6001,-73.9662,
44,Kurilsk,RU,22.98,light snow,45.2333,147.8833,Hotel Ostrov
52,Satis,RU,21.58,light snow,54.9229,43.2298,"Guest house ""Spiridon"""

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Deliverable_Data/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure 
fig

Figure(layout=FigureLayout(height='420px'))